.dataTable thead th {
    background-color: #3a4754;
    color: #FFF
}

.active>.page-link,
.page-link.active {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: #3a4754;
    border-color: #3a4754;
}

input[switch]+label {
    width: 70px;
}

input[switch]+label:after {
    width: 13px;
}

input[switch]:checked+label:after {
    left: 52px;
}

.select2-container {
    width: 100%;
}

.select2-container .select2-selection--single {

    height: 36px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
   padding-top: 4px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 38px;
}
.select2-container--default .select2-results__option[aria-selected=true]:hover {
    background-color: #3a4754;
    color: #fff;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #3a4754;
    color: white;
}

.select2-dropdown {
    z-index: 99999;
}
.dataTables_filter{
    width: 30%;
    float: right;
}
div.dataTables_wrapper div.dataTables_filter input {
    height: 34px;
}